<%
  var c = (typeof sectionContent !== 'undefined' && sectionContent['text-block']) || {};
  var heading = c.heading || '';
  var body = c.body || '';
%>
<section class="section text-block-section">
  <h2 class="section-title" data-editable="heading"><%= heading %></h2>
  <div class="text-block-body" data-editable="body"><%- body ? body.replace(/\n/g, '<br>') : '' %></div>
</section>
