<%- include('partials/head') %>
<%- include('partials/nav') %>

<main>
  <% var validSections = ['hero', 'featured-products', 'collections-grid', 'banner', 'text-block', 'newsletter', 'news-feed', 'brand-story']; %>
  <% layoutSections.forEach(function(section) { %>
    <% if (validSections.indexOf(section) !== -1) { %>
      <%- include('sections/' + section) %>
    <% } %>
  <% }); %>
</main>

<%- include('partials/footer') %>
